/* Ensure box-sizing includes padding and border in element's total width/height */
* {
  box-sizing: border-box;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3ecd9;
}

.login-card {
  text-align: center;
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.title {
  font-size: 32px;
  color: #1d4622;
  margin-bottom: 25px;
  font-weight: 600;
}

.input-box {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 12px;
  border: 1px solid #bbb;
  font-size: 15px;
  outline: none;
}

.login-btn {
  width: 100%;
  padding: 14px;
  background-color: #1d4622;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.login-btn:hover {
  opacity: 0.9;
}
